.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Crimson Text", sans-serif;
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
}

#top {
  position: relative;
  font-size: 3em;
  left: 10px;
}

.side-nav {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:aquamarine;
  overflow-x: hidden;
  padding-top: 10px;
}

.side-line {
  position: absolute;
  border-top: 6px solid black;
  border-left: 6px solid black;
  margin-left: 5px;
  height: 250px;
  width: 180px;
  z-index: -1;
}

.links li{
  list-style-type: none;
  display: block;
  width: 10px;
  margin-left: -10px;
  font-size: larger;
}

.links li:hover{
  color: rgb(170, 111, 0);
  font-weight: bold;
  cursor: pointer;
}

.active {
  color: rgb(170, 111, 0);
  font-weight: bold;
}

.follow-me {
  padding-top: 50px;
}

.social-media-list {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  grid-auto-rows: minmax(20px, auto);
  grid-column: 1/3;
  grid-row: 3;
}

.social-media-icons {
  padding: 1px;
  height: 28px;
  width: 28px;
}

.main-section {
  margin: auto;
  margin-left: 200px;

}

.img-container {
  display: inline;
}

.img {
  height: 500px;
  width: 250px;
}

.pop-up-text {
  display: none;
  position: absolute;
  top: 400px;
  left: 250px;
  border-top: double black 3px;
  border-bottom: double black 3px;
  animation: fadeIn ease 2s;
  font-size: 2em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

img:hover {
  opacity: 0.7;
}

.img-container:hover span {
  display: block;
}

.number-list {
  list-style-position: inside;
}

.cap {
  font-size: 1.5em;
}

.audio_name {
  padding-right: 15px;
}

.rondalla-pics {
  display: inline-flex;
}

.rondalla-group {
  padding: 2px;
  height:200px;
  width: 100%;
}